.container-app {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px; 
}