.man-1 {
    text-decoration: underline;
    color: #ebd3d3;
}

.was-copy {
    color: #476b43;
}

p {
    cursor: pointer;
}

.btn-box {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
}

.btn-img, .btn-aud {
    width: 70px;
}

.p-end {
    color: rgb(107, 9, 9);
}